In [1]:
# Fill in student ID and name
# 
student_id = "223737376"
student_first_last_name = "Nawal"
print(student_id, student_first_last_name)

223737376 Nawal

In [7]:
import firebase_admin
from firebase_admin import credentials, db

databaseURL = "https://sit225n-default-rtdb.asia-southeast1.firebasedatabase.app/"


cred_obj = credentials.Certificate(
    r"C:\Users\jalmi\OneDrive\Desktop\w5N\sit225n-firebase-adminsdk-fbsvc-85b5c435df.json"
)

default_app = firebase_admin.initialize_app(cred_obj, {
    'databaseURL': databaseURL
})

ref = db.reference("/")
print(ref.get())

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}, 'Sensors': {'DHT22': {'readings': {'-OYBXF-VXr87NtXWT1ey': {'humidity': 51.13, 'temperature': 32.32, 'timestamp': 1755778185901}, '-OYBXFJ1MUd9OfNmX9iQ': {'humidity': 53.59, 'temperature': 27.82, 'timestamp': 1755778187577}, '-OYBXFbiBYne7aUkX5xw': {'humidity': 54.19, 'temperature': 28.11, 'timestamp': 1755778188829}, '-OYBXFvFaUw6ismMB8ay': {'humidity': 64.13, 'temperature': 32.18, 'timestamp': 1755778190082}, '-OYBXGDwIP7GRSv_9Ukd': {'humidity': 57.65, 'temperature': 25.97, 'timestamp': 1755778191340}}}, 'SR04': {'readings': {'-OYBXxsS6bwVx1oMVta7': {'distance_cm': 34.97, 'timestamp': 1755778373811}, '-OYBXyB0TxAazJV-sL26': {'distance_cm': 183.91, 'timestamp': 1755778375479}, '-OYBXyUm1eQNr9EnP_rS': {'distance_cm': 170.46, 'timestamp': 1755778376727}, '-OYBXynBL8q-RfJ0M_-g': {'distance_cm': 111.36, 'timestamp': 1755778377994}, '-OYBXz5gre_OBrt9hdXG': {'distance_cm': 133.8, 'timestamp': 1755778379237}}}}}

In [13]:
from firebase_admin import db

# A reference point is always needed to be set
# before any operation is carried out on a database.
# 
ref = db.reference("/")

# JSON format data (key/value pair)
data = {  # Outer {} contains inner data structure
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

# JSON format data is set (overwritten) to the reference 
# point set at /, which is the root node.
# 
ref.set(data)

In [11]:
ref = db.reference("/")  # set ref point

# query all data under the ref
books = ref.get()  
print(books)
print(type(books))

# print each item separately
for key, value in books.items():
    print(f"{key}: {value}")


# Query /Book1
ref = db.reference("/Book1")
books = ref.get()
print(books)

{'Book1': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, 'Book2': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, 'Book3': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, 'Book4': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>
Book1: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}
Book2: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}
Book3: {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}
Book4: {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}
{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

In [15]:
# Write using push() function
# Note that a set() is called on top of push()
# 
ref = db.reference("/")
ref.set({
	"Books":
	{
		"Best_Sellers": -1
	}
})

ref = db.reference("/Books/Best_Sellers")

for key, value in data.items():
	ref.push().set(value)

In [16]:
# Update data
# 
# Requirement: The price of the books by 
# J. R. R. Tolkien is reduced to 80 units to 
# offer a discount.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		value["Price"] = 90
		ref.child(key).update({"Price":80})

{'-OYBgwlzSLpfRFUMlpSJ': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-OYBgwq_gBd9QGGtkdmT': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-OYBgwv4ldf_1kfyjMCX': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-OYBgwyrEyWmJPKElnxY': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [17]:
# Let's delete all best seller books 
# with J.R.R. Tolkien as the author.
# 
ref = db.reference("/Books/Best_Sellers")

for key, value in best_sellers.items():
	if(value["Author"] == "J.R.R. Tolkien"):
		ref.child(key).set({})

In [18]:
# Delete all best_seller data.
# 
ref = db.reference("/Books/Best_Sellers/")
best_sellers = ref.get()
print(best_sellers)
print(type(best_sellers))

{'-OYBgwyrEyWmJPKElnxY': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}
<class 'dict'>

In [ ]:
ref = db.reference("/Books/Best_Sellers")
ref.set({})